
nav {
    background-color: #043A3A;
    z-index: 10;
}

a {
    color: white !important; 
}

a > span {
    color: #2FB95D;
}

.navbar-brand {
    font-size: 32px !important;
}

.nav-link {
    font-size: 18px !important;
}

li {
    padding-inline: 20px;
}

button {
    background-color: #2FB95D !important;
    padding: 16px 32px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}