* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Inter", sans-serif !important;
    letter-spacing: 1px !important;
}

p {
    font-weight: 400;
    letter-spacing: 1px;
}